* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#top {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

#top h1 {
    text-transform: uppercase;
}

#top button {
    padding: 10px 20px;
    border: none;
    color: #999;
}

#center {
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#center h1 {
    font-size: 140px;
}

#cursor {
    width: 100px;
    height: 20px;
}

.text {
    display: flex;
    align-items: flex-end;
    height: 130px;
}

:root {
    --white1: #ffffff;
    --white2: #eeeeee;
    --white3: #dddddd;
    --black1: #000000;
    --black2: #111111;
    --black3: #222222;
}

.top-black {
    color: var(--black1);
    background-color: var(--black3);
}

.top-white {
    color: var(--white1);
    background-color: var(--white3);
}

.top-black button {
    background-color: var(--black1);
}

.top-white button {
    background-color: var(--white1);
}

.center-black {
    background-color: var(--black2);
}

.center-white {
    background-color: var(--white2);
}

.center-black h1 {
    color: var(--white1);
}

.center-white h1 {
    color: var(--black1);
}

.black {
    background-color: var(--black1);
}

.white {
    background-color: var(--white1);
}

#options {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 700px;
    height: 450px;
    visibility: hidden;
}

.menu h2 {
    font-size: 40px;
}

.menu-top {
    height: 80px;
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.opt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.opt label {
    font-size: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 20px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.transition {
    animation: 0.4s transition;
}

@keyframes transition {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.slider-white {
    background: #d3d3d3;
}

.slider-white::-webkit-slider-thumb {
    background: #000000;
}

.slider-black {
    background: #252525;
}

.slider-black::-webkit-slider-thumb {
    background: #ffffff;
}

.black-5 {
    color: #222222;
}

.white-5 {
    color: #dddddd;
}

.black-6 {
    color: #000000;
}

.white-6 {
    color: #ffffff;
}