* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

#nav-text {
    text-transform: uppercase;
}

#nav-button {
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}

#container {
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-center {
    display: flex;
    align-items: flex-end;
    height: 130px;
}

#container-text {
    font-size: 140px;
}

#container-cursor {
    width: 100px;
    height: 20px;
    background-color: #000000;
}


/* light mode style */

.light-mode #nav {
    background-color: #ffffff;
}

.light-mode #nav-text {
    color: #00000060;
}

.light-mode #nav-button {
    background-color: #00000060;
    color: #ffffff;
}

.light-mode #container {
    background-color: #ffffff;
}

.light-mode #container-text {
    color: #000000d5;
}

.light-mode #container-cursor {
    background-color: #000000d5;
}


/* dark mode style */

.dark-mode #nav {
    background-color: #000000;
}

.dark-mode #nav-text {
    color: #ffffff60;
}

.dark-mode #nav-button {
    background-color: #ffffff60;
    color: #000000;
}

.dark-mode #container {
    background-color: #000000;
}

.dark-mode #container-text {
    color: #ffffffd5;
}

.dark-mode #container-cursor {
    background-color: #ffffffd5;
}